<!DOCTYPE html>
<html>
    <h3>Hi,Admin</h3>
    <p>
      Website visitor wants to contact you. Details of the lead are :<br>
    </p>
    <p>
      Name: <%= @contact_us.name %> <br/>
      Email: <%= @contact_us.email %> <br/>
      Message: <%= @contact_us.message %> <br/>
      Date: <%= @contact_us.created_at %>
    </p>
  </body>
</html>