
<!-- Header -->
        <header class="header">
            <!-- container -->
            
            <!-- flat-mega-menu class -->
            <div class="flat-mega-menu">

                <!-- mobile click button to show menu -->
                <label for="mobile-button"> <i class="fa fa-bars"></i> </label>
                <input id="mobile-button" type="checkbox">

                <!-- collapse class for collapse the drop down -->
                <ul class="collapse">
                    <li class="title"> 
                        <a href="index.html">
                            <img src="/assets/logo.png" alt="Logo" class="logo">
                        </a> 
                    </li>      

                    <!-- website title class -->
                 
                       
                    </li>

                    <li> <a href="/portfolios">Portfolio</a></li>

         

                    <li> <a href="/blogs">Blog </a>

                    </li>


                
                    
                    </li>

             

           

                     <!-- login form -->
                    <li class="login-form" ><a href="/logout"><i class="fa fa-sign-out">Logout</i></a>
                    </li>   

                    <!-- <li class="search-bar"> <i class="fa fa-search"></i> -->
                    <!-- search bar -->
                    
                        <!-- <ul class="drop-down hover-expand">
                            
                            <form method="post" action="#">
                                <table>
                                    <tr>
                                        <td> <input type="text" name="serach_bar" placeholder="Keyword Here"> </td>
                                        <td> <input type="submit" value="Search"> </td>
                                    </tr>
                                </table>
                            </form>
                            
                        </ul>
                    
                    </li> -->           
                </ul>

            </div>
            <!-- flat-mega-menu class -->

        </header>
        <!-- Header -->