
<!-- Header -->
        <header class="header">
            <!-- container -->

            <!-- flat-mega-menu class -->
            <div class="flat-mega-menu">

                <!-- mobile click button to show menu -->
                <label for="mobile-button"> <i class="fa fa-bars"></i> </label>
                <input id="mobile-button" type="checkbox">

                <!-- collapse class for collapse the drop down -->
                <ul class="collapse">
                    <li class="title"> 
                        <a href="index.html">
                            <img src="/assets/logo.png" alt="Logo" class="logo">
                        </a> 
                    </li>      

                    <!-- website title class -->
                    <li> <a href="/">Home </a>
                        
                    </li>

                    <li> <a href="#work">Works</a></li>

                    <li> <a href="#about">About</a></li>

                    <li> <a href="/blogs">Blog </a>

                    </li>

                    <li> <a href="#services">Services</a></li>

                    <li> <a href="#">Features</a> 
                    
                    </li>

                    <li> <a href="#contact">Contact Us</a></li>

                    <li class="social-bar"> <a href="#">Follow us <i class="fa fa-angle-down"></i></a> 
                    
                        <ul class="drop-down hover-zoom social_icon center">
                            <li> <a href="#"> <i class="fa fa-dribbble"></i> </a> </li>
                            <li> <a href="#"> <i class="fa fa-flickr"></i> </a> </li>
                            <li> <a href="#"> <i class="fa fa-tumblr"></i> </a> </li>
                            <li> <a href="#"> <i class="fa fa-instagram"></i> </a> </li>
                            <li> <a href="#"> <i class="fa fa-youtube"></i> </a> </li>
                            <li> <a href="#"> <i class="fa fa-facebook"></i> </a> </li>
                            <li> <a href="#"> <i class="fa fa-google-plus"></i> </a> </li>
                            <li> <a href="#"> <i class="fa fa-linkedin"></i> </a> </li>
                            <li> <a href="#"> <i class="fa fa-pinterest"></i> </a> </li>
                        </ul>
                    
                    </li>

                    <!-- login form -->
                    <li class="login-form"></i>                  
                    
                        <%= render "user_sessions/form"%>
                    
                    </li>    

                    <!-- <li class="search-bar"> <i class="fa fa-search"></i> -->
                    <!-- search bar -->
                    
                        <!-- <ul class="drop-down hover-expand">
                            
                            <form method="post" action="#">
                                <table>
                                    <tr>
                                        <td> <input type="text" name="serach_bar" placeholder="Keyword Here"> </td>
                                        <td> <input type="submit" value="Search"> </td>
                                    </tr>
                                </table>
                            </form>
                            
                        </ul>
                    
                    </li> -->           
                </ul>

            </div>
            <!-- flat-mega-menu class -->

        </header>
        <!-- Header -->