<!-- Contact -->
        <section class="color contact_us paddings center" id="contact">

            <!-- pattern_top -->
            <div class="pattern_top"></div>
            <!-- end pattern_top -->

            <div class="container">
                <div class="row">
                    <div class="title">
                        <h2 class="color-black wow bounceIn animated" data-wow-duration="1.5s">Contact</h2>
                    </div>
                </div>

                <div class="divider_dark"></div>

                <div class="row paddings-content wow fadeIn animated" data-wow-duration="2.0s">
                    <div class="col-md-12">

                      <p>We’re always looking for new projects to work on, if you have some please write us!</p>
                      <h3><a href="mailto:info@domain.com"><i class="fa fa-envelope"></i> contact@domain.com</a></h3>

                      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Send a Message</button>

                    </div>
                </div>

                <div class="divider_dark"></div>

                <div class="row">

                    <div class="col-md-6 col-sm-12 number">
                        <ul>
                            <li><i class="fa fa-mobile-phone"></i></li>
                            <li><p>+51 2526148681</p></li>
                        </ul>
                    </div>

                    <div class="col-md-6 left col-sm-12 number">
                        <ul>
                            <li><i class="fa fa-map-marker"></i></li>
                            <li><p>80, Street name postal code,city name <br><span>Country</span></p></li>
                        </ul>
                    </div>

                </div>
            </div>

            <!-- pattern_bottom -->
            <div class="pattern_bottom"></div>
            <!-- end pattern_bottom -->

        </section>
        <!-- end Contact -->